<?xml version="1.0"?>
<launch>
    <!-- Parameters -->
    <arg name="_baud" default="115200" />
    <arg name="_port" default="/dev/ttyUSB0" />

    <!-- Rosserial -->
    <include file="$(find pioneer_bringup)/launch/minimal.launch" />
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" required="true" output="screen">
        <param name="baud" value="$(arg _baud)"/>
        <param name="port" value="$(arg _port)"/>
    </node>

    <!-- Joystick mapper -->
    <node pkg="pioneer_bringup" type="joystick_mapper.py" name="joystick_mapper" output="screen"/>
</launch>